.machine {
  border-bottom: 1px solid #fdfdfd;
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
  color: #999;
  text-transform: uppercase;
}

.machine.active {
  color: #333;
  font-weight: bold;
}

.header,
.footer {
  padding: 20px 0;
  text-align: center;
  background: #ddd;
}
